apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: https://coda-ex.brazilsouth.cloudapp.azure.com/prometheus
    editable: false
